# COMPARISON OF STAR LISTS

In this notebook we compare the list of CARMENES stars available now (NZP-corrected, 390 stars) with the list of CARMENES stars previously available (363 stars).

## Modules and configuration

### Modules

In [1]:
import pandas as pd

### Configuration

In [20]:
GTO_DB_FILE = "../data/GTO_objects.csv"
CARM_VIS_DB_FILE = "../data/CARM_VIS_objects.csv"

NEW_STARS_FILE = "../data/New_stars_CARM_VIS.txt"

## Load both databases

In [3]:
gto = pd.read_csv(GTO_DB_FILE, sep=',', decimal='.')
gto.head()

,Karmn,Name,Comp,GJ,RA_J2016_deg,DE_J2016_deg,RA_J2000,DE_J2000,l_J2016_deg,b_J2016_deg,...,Teff_max_K,logg_min,logg_max,is_GTO,rv_file,lc_file,has_rv,has_lc,InstBand_nominal,InstBand_ranged
0,J23585+076,Wolf 1051,AB,4383,359.636420,7.656947,23:58:32.65,+07:39:30.1,100.839686,-52.931049,...,3516.0,4.89,5.05,True,../data/CARMENES_GTO_RVs/J23585+076.dat,NaN,True,False,He3-burning,He3-burning
1,J23556-061,GJ 912,AB,912,358.913617,-6.144283,23:55:39.78,-06:08:33.4,88.129933,-65.175491,...,3669.0,4.70,4.98,True,../data/CARMENES_GTO_RVs/J23556-061.dat,NaN,True,False,He3-burning,He3-burning
2,J23548+385,RX J2354.8+3831,-,NaN,358.713658,38.526340,23:54:51.46,+38:31:36.2,110.941908,-23.024449,...,3279.0,5.03,5.23,True,../data/CARMENES_GTO_RVs/J23548+385.dat,../data/CARMENES_GTO_TESS_lc/lightcurves/J2354...,True,True,none,none
3,J23505-095,LP 763-012,-,4367,357.634705,-9.560964,23:50:31.64,-09:33:32.7,80.777067,-67.303426,...,3411.0,4.73,4.93,True,../data/CARMENES_GTO_RVs/J23505-095.dat,<ambiguous>,True,True,He3-burning,He3-burning
4,J23492+024,BR Psc,-,908,357.306604,2.396918,23:49:12.53,+02:24:04.4,93.567467,-56.885396,...,3596.0,4.81,5.07,True,../data/CARMENES_GTO_RVs/J23492+024.dat,NaN,True,False,He3-burning,He3-burning

In [4]:
gto.shape

(363, 186)

In [7]:
carmvis = pd.read_csv(CARM_VIS_DB_FILE, sep=',', decimal='.')
carmvis.head()

,Karmn,Name,Comp,GJ,RA_J2016_deg,DE_J2016_deg,RA_J2000,DE_J2000,l_J2016_deg,b_J2016_deg,...,Teff_max_K,logg_min,logg_max,is_GTO,rv_file,lc_file,has_rv,has_lc,InstBand_nominal,InstBand_ranged
0,J23585+076,Wolf 1051,AB,4383,359.636420,7.656947,23:58:32.65,+07:39:30.1,100.839686,-52.931049,...,3516.0,4.89,5.05,True,../data/CARM_VIS_RVs/J23585+076.dat,NaN,True,False,He3-burning,He3-burning
1,J23556-061,GJ 912,AB,912,358.913617,-6.144283,23:55:39.78,-06:08:33.4,88.129933,-65.175491,...,3669.0,4.70,4.98,True,../data/CARM_VIS_RVs/J23556-061.dat,NaN,True,False,He3-burning,He3-burning
2,J23548+385,RX J2354.8+3831,-,NaN,358.713658,38.526340,23:54:51.46,+38:31:36.2,110.941908,-23.024449,...,3279.0,5.03,5.23,True,../data/CARM_VIS_RVs/J23548+385.dat,../data/CARMENES_GTO_TESS_lc/lightcurves/J2354...,True,True,none,none
3,J23505-095,LP 763-012,-,4367,357.634705,-9.560964,23:50:31.64,-09:33:32.7,80.777067,-67.303426,...,3411.0,4.73,4.93,True,../data/CARM_VIS_RVs/J23505-095.dat,<ambiguous>,True,True,He3-burning,He3-burning
4,J23492+024,BR Psc,-,908,357.306604,2.396918,23:49:12.53,+02:24:04.4,93.567467,-56.885396,...,3596.0,4.81,5.07,True,../data/CARM_VIS_RVs/J23492+024.dat,NaN,True,False,He3-burning,He3-burning

In [8]:
carmvis.shape

(390, 186)

## Compare the star lists

In [9]:
gto_stars = set(gto['Karmn'])
len(gto_stars)

363

In [11]:
cvis_stars = set(carmvis['Karmn'])
len(cvis_stars)

390

### Stars in GTO, not in CARM_VIS

In [15]:
g_notin_c = gto_stars - cvis_stars
g_notin_c

set()

### Stars in CARM_VIS, not in GTO

In [16]:
c_notin_g = cvis_stars - gto_stars
c_notin_g

{'J00162+198E',
 'J00162+198W',
 'J02489-145E',
 'J02489-145W',
 'J02565+554W',
 'J07319+362N',
 'J07590+153',
 'J09597+472',
 'J10238+438',
 'J11110+304E',
 'J11110+304W',
 'J12123+544S',
 'J13283-023W',
 'J14257+236E',
 'J14257+236W',
 'J15100+193',
 'J16167+672N',
 'J16167+672S',
 'J16554-083N',
 'J18180+387E',
 'J18427+596N',
 'J18427+596S',
 'J19169+051N',
 'J19169+051S',
 'J19206+731S',
 'J20556-140N',
 'J20556-140S'}

In [23]:
print(list(c_notin_g))

['J20556-140N', 'J18427+596N', 'J16554-083N', 'J02489-145E', 'J12123+544S', 'J18427+596S', 'J19169+051N', 'J16167+672N', 'J11110+304W', 'J00162+198W', 'J07590+153', 'J19206+731S', 'J10238+438', 'J07319+362N', 'J02489-145W', 'J00162+198E', 'J18180+387E', 'J09597+472', 'J16167+672S', 'J15100+193', 'J02565+554W', 'J20556-140S', 'J19169+051S', 'J14257+236E', 'J14257+236W', 'J13283-023W', 'J11110+304E']

In [21]:
new_stars = pd.DataFrame(c_notin_g, columns=['New_stars'])
new_stars

      New_stars
0   J20556-140N
1   J18427+596N
2   J16554-083N
3   J02489-145E
4   J12123+544S
5   J18427+596S
6   J19169+051N
7   J16167+672N
8   J11110+304W
9   J00162+198W
10   J07590+153
11  J19206+731S
12   J10238+438
13  J07319+362N
14  J02489-145W
15  J00162+198E
16  J18180+387E
17   J09597+472
18  J16167+672S
19   J15100+193
20  J02565+554W
21  J20556-140S
22  J19169+051S
23  J14257+236E
24  J14257+236W
25  J13283-023W
26  J11110+304E

In [22]:
new_stars.to_csv(NEW_STARS_FILE, sep=',', decimal='.', index=False, header=False)