# CARMENES / GTO DATABASE LOADING AND INSPECTION
# Identifying GTO objects in CARMENES database
(With pandas)

## Modules and configuration

### Modules

In [1]:
# Modules import:
import pandas as pd
from os import listdir
from os.path import isfile, join

### Configuration

In [2]:
# Configuration:
# Files:
CARMENES_DBFILE = "../data/carmencita.102.csv"
CARMENES_MODDBFILE = CARMENES_DBFILE[:-4] + "_mod.csv"
CARMENES_STATS_OUT = CARMENES_DBFILE[:-4] + "_stats.csv"
CARMENES_NAN_OUT = CARMENES_DBFILE[:-4] + "_nan.csv"

GTO_FOLDER = "../data/CARMENES GTO RVs/"

## Funcions

### Get a range from two columns (nominal and error)

def get_range(nominal, error):
    return (nominal - error, nominal + error)

## Data loading and combining

### Load CARMENES database file

In [3]:
carmenes = pd.read_csv(CARMENES_DBFILE, sep=',', decimal='.')

carmenes.head()

,Karmn,Name,Comp,GJ,RA_J2016_deg,DE_J2016_deg,RA_J2000,DE_J2000,l_J2016_deg,b_J2016_deg,...,LoRes_spectrum,HiRes_spectrum,LoRes_imaging,HiRes_imaging,Class,Survey,Notes,Gaia_id_1,2MASS_id,TIC_id
0,J23598+477,LP 149-014,-,4385,359.962056,47.761478,23:59:49.51,+47:45:44.5,114.027674,-14.216353,...,NaN,NaN,NaN,NaN,Gamma,NaN,NaN,1927517417630958208,23594940+4745447,177697529
1,J23590+208,G 129-051,-,NaN,359.753066,20.860336,23:59:00.42,+20:51:39.0,106.785616,-40.361996,...,CAFOS,NaN,NaN,NaN,Delta,NaN,NaN,2846620421604285568,23590042+2051387,2053997903
2,J23587+467,BD+45 4378 AB,AB,913,359.685432,46.729152,23:58:43.49,+46:43:44.7,113.616244,-15.187224,...,NaN,NaN,NaN,(FastCam) [Bale07],Delta,NaN,# WDS BAG34 consistent wtih Hei415.,1927184643563033856,23584342+4643452,2041238829
3,J23585+076,Wolf 1051,AB,4383,359.636420,7.656947,23:58:32.65,+07:39:30.1,100.839686,-52.931049,...,NaN,FEROS,NaN,(FastCam),Delta+,GTO,NaN,2746709861572970624,23583264+0739304,408486498
4,J23582-174,LP 764-040,AB,NaN,359.558095,-17.409041,23:58:13.69,-17:24:32.9,68.527865,-74.336758,...,NaN,NaN,NaN,[Dae07 AstraLux],Delta,NaN,#20-150Ma Shk09.,2414454421367861376,23581366-1724338,2052312661

In [4]:
print(carmenes.columns.tolist())

['Karmn', 'Name', 'Comp', 'GJ', 'RA_J2016_deg', 'DE_J2016_deg', 'RA_J2000', 'DE_J2000', 'l_J2016_deg', 'b_J2016_deg', 'Ref01', 'SpT', 'SpTnum', 'Ref02', 'Teff_K', 'eTeff_K', 'logg', 'elogg', '[Fe/H]', 'e[Fe/H]', 'Ref03', 'L_Lsol', 'eL_Lsol', 'Ref04', 'R_Rsol', 'eR_Rsol', 'Ref05', 'M_Msol', 'eM_Msol', 'Ref06', 'muRA_masa-1', 'emuRA_masa-1', 'muDE_masa-1', 'emuDE_masa-1', 'Ref07', 'pi_mas', 'epi_mas', 'Ref08', 'd_pc', 'ed_pc', 'Ref09', 'Vr_kms-1', 'eVr_kms-1', 'Ref10', 'ruwe', 'Ref11', 'U_kms-1', 'eU_kms-1', 'V_kms-1', 'eV_kms-1', 'W_kms-1', 'eW_kms-1', 'Ref12', 'sa_m/s/a', 'esa_m/s/a', 'Ref13', 'SKG', 'Ref14', 'SKG_lit', 'Ref14_lit', 'Pop', 'Ref15', 'vsini_flag', 'vsini_kms-1', 'evsini_kms-1', 'Ref16', 'P_d', 'eP_d', 'Ref17', 'pEWHalpha_A', 'epEWHalpha_A', 'Ref18', 'log(LHalpha/Lbol)', 'elog(LHalpha/Lbol)', 'Ref19', '1RXS', 'CRT_s-1', 'eCRT_s-1', 'HR1', 'eHR1', 'HR2', 'eHR2', 'Flux_X_E-13_ergcm-2s-1', 'eFlux_X_E-13_ergcm-2s-1', 'LX/LJ', 'eLX/LJ', 'Ref20', 'Activity', 'Ref21', 'FUV_mag', 'eFUV_mag', 'NUV_mag', 'eNUV_mag', 'Ref22', 'u_mag', 'eu_mag', 'Ref23', 'BT_mag', 'eBT_mag', 'Ref24', 'B_mag', 'eB_mag', 'Ref25', 'BP_mag', 'eBP_mag', 'Ref26', 'g_mag', 'eg_mag', 'Ref27', 'VT_mag', 'eVT_mag', 'Ref28', 'V_mag', 'eV_mag', 'Ref29', 'Ra_mag', 'Ref30', 'r_mag', 'er_mag', 'Ref31', 'GG_mag', 'eGG_mag', 'Ref32', 'i_mag', 'ei_mag', 'Ref33', 'RP_mag', 'eRP_mag', 'Ref34', 'IN_mag', 'Ref35', 'J_mag', 'eJ_mag', 'H_mag', 'eH_mag', 'Ks_mag', 'eKs_mag', 'QFlag_2M', 'Ref36', 'W1_mag', 'eW1_mag', 'W2_mag', 'eW2_mag', 'W3_mag', 'eW3_mag', 'W4_mag', 'eW4_mag', 'QFlag_WISE', 'Ref37', 'Multiplicity', 'WideWDS', 'Widerho_arcsec', 'eWiderho_arcsec', 'Ref38', 'WideCompanionName', 'WideCompanionSpT', 'CloseWDS', 'Closerho_arcsec', 'eCloserho_arcsec', 'Ref39', 'CloseCompanionSpT', 'RV', 'Planet', 'Ref40', 'PlanetNum', 'LoRes_spectrum', 'HiRes_spectrum', 'LoRes_imaging', 'HiRes_imaging', 'Class', 'Survey', 'Notes', 'Gaia_id_1', '2MASS_id', 'TIC_id']

### Basic statistics

In [5]:
carmenes_stats = carmenes.describe()

carmenes_stats

,RA_J2016_deg,DE_J2016_deg,l_J2016_deg,b_J2016_deg,SpTnum,Teff_K,eTeff_K,logg,elogg,[Fe/H],...,eW1_mag,W2_mag,eW2_mag,W3_mag,eW3_mag,W4_mag,eW4_mag,PlanetNum,Gaia_id_1,TIC_id
count,2212.000000,2212.000000,2211.000000,2211.000000,2212.000000,1657.000000,1657.000000,1652.000000,1652.000000,1652.000000,...,2193.000000,2194.000000,2194.000000,2194.000000,2194.000000,2194.000000,2115.000000,2206.000000,2.212000e+03,2.212000e+03
mean,174.478191,25.033073,141.530909,10.808282,2.804566,3422.496077,45.379602,4.978553,0.410533,-0.030448,...,0.043555,7.536307,0.025103,7.454438,0.019887,7.309170,0.146526,0.036718,2.313430e+18,3.593196e+08
std,105.175380,25.873700,77.624600,38.548382,1.571185,283.857097,11.216744,0.355109,0.160944,0.092074,...,0.045817,1.038403,0.021990,0.962119,0.005868,0.934874,0.097991,0.284143,1.567342e+18,3.709552e+08
min,0.303710,-32.437037,0.297124,-85.781428,-2.000000,2400.000000,9.000000,4.000000,0.030000,-0.620000,...,0.011000,2.360000,0.010000,3.045000,0.010000,2.934000,0.015000,0.000000,3.179036e+15,7.073460e+05
25%,79.220264,5.438041,80.737176,-18.876011,1.500000,3200.000000,50.000000,4.687500,0.500000,0.000000,...,0.023000,7.061250,0.020000,6.988250,0.016000,6.852250,0.077000,0.000000,9.819256e+17,1.442746e+08
50%,170.592594,22.680032,137.796626,12.442436,3.000000,3400.000000,50.000000,5.000000,0.500000,0.000000,...,0.027000,7.678500,0.020000,7.576500,0.018000,7.444000,0.121000,0.000000,2.104625e+18,2.859379e+08
75%,265.664080,44.133004,191.232163,42.360953,4.000000,3600.000000,50.000000,5.140000,0.500000,0.000000,...,0.039000,8.204250,0.021000,8.082750,0.021000,7.920750,0.188000,0.000000,3.409167e+18,4.173732e+08
max,359.962056,88.405627,359.808867,89.717950,9.500000,4500.000000,97.000000,5.500000,0.500000,0.420000,...,0.524000,11.316000,0.429000,10.313000,0.091000,9.495000,0.540000,7.000000,6.916735e+18,2.054010e+09

In [6]:
carmenes_nan = carmenes.isnull().sum()

carmenes_nan

Karmn              0
Name               0
Comp               0
GJ               914
RA_J2016_deg       0
                ...
Survey          1811
Notes           1868
Gaia_id_1          0
2MASS_id           0
TIC_id             0
Length: 175, dtype: int64

### Add ranges for `Teff_K` and `logg`variables

In [7]:
carmenes['Teff_min_K'] = carmenes['Teff_K'] - carmenes['eTeff_K']
carmenes['Teff_max_K'] = carmenes['Teff_K'] + carmenes['eTeff_K']
carmenes['logg_min'] = carmenes['logg'] - carmenes['elogg']
carmenes['logg_max'] = carmenes['logg'] + carmenes['elogg']

carmenes['Teff_K_range'] = carmenes.apply(lambda x: get_range(x.Teff_K, x.eTeff_K), axis=1)
carmenes['logg_range'] = carmenes.apply(lambda x: get_range(x.logg, x.elogg), axis=1)

carmenes[['Teff_K', 'eTeff_K', 'Teff_K_range', 'logg', 'elogg', 'logg_range']].head()

### Retrieve GTO object names

In [8]:
dir_items = listdir(GTO_FOLDER)
gto_names = [f[:-4] for f in dir_items if isfile(join(GTO_FOLDER, f))]
print("%d GTO objects found." %len(gto_names))
print("10 first GTO objects: %s" %gto_names[:10])

363 GTO objects found.
10 first GTO objects: ['J00051+457', 'J00067-075', 'J00183+440', 'J00184+440', 'J00286-066', 'J00389+306', 'J00403+612', 'J00570+450', 'J01013+613', 'J01019+541']

### Identify GTO objects in CARMENES database

In [9]:
carmenes['is_GTO'] = False
carmenes.loc[carmenes['Karmn'].isin(gto_names), 'is_GTO'] = True
print("GTO objects identified in CARMENES database: %d" %carmenes[carmenes['is_GTO']].shape[0])

GTO objects identified in CARMENES database: 363

### Save the modified information

In [10]:
carmenes.shape

(2212, 180)

In [11]:
carmenes_stats.to_csv(CARMENES_STATS_OUT, sep=',', decimal='.')

In [12]:
carmenes_nan.to_csv(CARMENES_NAN_OUT, sep=',', decimal='.')

In [13]:
carmenes.to_csv(CARMENES_MODDBFILE, sep=',', decimal='.', index=False)